.row
  .large-12.columns
    %h2#thingname{:data => {:thing_id => @thing.id}}= "Dein Ding: #{@thing.name}"
    %dl.sub-nav
      %dt Filter:
      %dd.active.overall
        %a{href: '#'} Gesamt
      %dd.yearly
        %a{href: '#'} Jährlich
      %dd.monthly 
        %a{href: '#'} Letzte 12 Monate
      %dd.daily
        %a{href: '#'} Letzte 30 Tage
  
.row.detailpage#overallpage
  = render 'statistics'
  .large-8.columns
    %canvas#overallChart

.row.detailpage.hide#yearlypage
  = render 'statistics'
  .large-8.columns
    %canvas#yearlyChart

.row.detailpage.hide#monthlypage
  = render 'statistics'
  .large-8.columns
    %canvas#monthlyChart

.row.detailpage.hide#dailypage
  = render 'statistics'
  .large-8.columns
    %canvas#dailyChart

.row
  .large-12.columns
    = link_to 'Zurück', things_path