<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo <%= @recipient %></h1>
    <p>
      <%= @user.email %> will, dass du mit ihm <%= @thing.name %> zählst.
    </p>
    <p>
      Klicke auf den Link um ihm dabei zu helfen!<br />
      <a href="<%= @link %>"><%= @link %></a>
    </p>
    <p>oder besuche einfach <%= link_to 'zerosim.eltanin.uberspace.de', root_path %>, um dich über countingthings zu informieren!</p>
  </body>
</html>