<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hallo <%= @recipient %>,<br /><br /></p>
    <p>
      <%= @user %> will, dass du mit ihm <strong><%= @thing.name %></strong> zählst.
    </p>
    <p>
      Klicke auf den folgenden Link um ihm dabei zu helfen!<br />
      <a href="<%= @link %>"><%= @link %></a>
    </p>
    <p>oder besuche einfach <a href="zerosim.eltanin.uberspace.de">zerosim.eltanin.uberspace.de</a><br /> um dich über countingthings zu informieren!</p>
  </body>
</html>